doctype basic
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    title
      if name
        | #{name}
      else
        | #{site_title} by #{author}
    link(rel="stylesheet", href="#{asset_url}themes/#{theme}/stylesheets/highlight/default.css")
    link(rel="stylesheet", href="#{asset_url}themes/#{theme}/stylesheets/gfm_markdown.css")
    link(rel="stylesheet", href="#{asset_url}themes/#{theme}/stylesheets/style.css")
    // if lt IE 9
      script(src="//html5shiv.googlecode.com/svn/trunk/html5.js").
    meta(name="viewport", 
      content="width=device-width, initial-scale=1, user-scalable=no")

  body
    header#header
      div.aux
        h1: a(href="#{base_url}") #{site_title}
    nav#nav
      ul
        li: a(href="#{base_url}") Home
        each category in categories
          li: a(href="#{base_url}#{category}") #{category}
        li: a(href="#{base_url}feed.xml") Feed
        li: a(href="#{about_url}") About
    #content
      block content
    footer
      .aux
        !{plugins.ga}
        block footer
    // if !IE
      script.
        fixScale(document);
    script(src="#{asset_url}themes/#{theme}/javascript/highlight.pack.js")
    script.
      hljs.initHighlightingOnLoad();
